@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

.App {
  font-family: "Roboto Mono", monospace;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  color: white;
  font-size: 2em;
}

#root {
  display: flex;
  height: 100%;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #472c71 0%, #0d061d 100%);
}

.App div {
  margin: 20px;
}
